extends layout

block content

  form(action ="/bookreviews" method = get)
    .input
      h1 Title:
      input(type="text", name="title", required)
    .input
      h1 Author:
      input(type="text", name="author", required)
    .input
      h1 Review:
      textarea(name="review", cols="100", rows="5", required)
    .actions
      input(type="submit", value="submit")
   

  h1 Book Reviews  

  .row
    each bookreview in bookreviews
      h4 Title: #{bookreview.title}; Author: #{bookreview.author}; Reviewer: #{bookreview.reviewer}
      p Review: #{bookreview.review}
