extends base.pug

block body
  h1.text-center Welcome to the Book Reviews App!

  .jumbotron
    p.
      Please login with okta to access this website.  After login, you wil
      be allowed to access current book reviews and write a new book review. 

    p.
      Please #[a(href="/login") login] to continue.

