html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  body
    h4.text-center User: #{user.preferred_username}  #[a(href="/logout") logout]
    h1 Review a Book                          
    block content
